## --------------------------------------- ##
## heimdall.cfg
## Notes:
## 1 - No trailing slashes
## --------------------------------------- ##

[main]
## Where to look on UGP or CHPC.
task_dir:/uufs/chpc.utah.edu/common/home/u0413537/Heimdall/tasks
running_projects:/uufs/chpc.utah.edu/common/home/u0413537/Running_Projects

[pipeline]
FQF:/uufs/chpc.utah.edu/common/home/u0413537/FQF/bin/FQF
genomic_regions:/uufs/chpc.utah.edu/common/home/u0413537/FQF/data/Region_Files/Region.list
exon_regions:/uufs/chpc.utah.edu/common/home/u0413537/FQF/data/Region_Files/exon_Region.list

[log_file]
file: /home/srynearson/Heimdall/Heimdall.run.log

[rsync]
#lustre_rsync: /scratch/ucgd/lustre/Repository
#islion_rsync: /uufs/chpc.utah.edu/common/home/ucgdstor/Repository

[repository]
lustre_repo: /scratch/ucgd/lustre/ugpuser/Repository
lustre_analysis_repo: /scratch/ucgd/lustre/ugpuser/Repository/AnalysisData
#islion_repo: /uufs/chpc.utah.edu/common/home/ucgdstor/Repository/AnalysisData

[gnomex]
## path to required gnomex data on ugp
gnomex_jar:/home/srynearson/GNomEx_Tools/gnomex_client.jar
properties:/home/srynearson/GNomEx_Tools/properties

## --------------------------------------- ##
## Each sequence facility will have its own
## transfer collection
## --------------------------------------- ##

[nantomics_transfer]    
#path: /scratch/ucgd/lustre/nantomics-transfer
process: /scratch/ucgd/lustre/nantomics-transfer/Process_Data 
xfer: /scratch/ucgd/lustre/nantomics-transfer/xfer
cfg: /uufs/chpc.utah.edu/common/home/u0413537/Heimdall/bin/nantomics/nantomics_to_gvcf.cfg

[washu_transfer]
path:/scratch/ucgd/lustre/washu-transfer
process:/scratch/ucgd/lustre/washu-transfer/Process_Data
xfer:/scratch/ucgd/lustre/washu-transfer/xfer

[other_transfer]    
path: /scratch/ucgd/lustre/other-transfer
process: /scratch/ucgd/lustre/other-transfer/Process_Data
xfer: /scratch/ucgd/lustre/other-transfer/xfer
cfg: /uufs/chpc.utah.edu/common/home/u0413537/Heimdall/bin/nantomics/nantomics_GVCFs.cfg




