## --------------------------------------- ##
## heimdall.cfg
## Notes:
## 1 - No trailing slashes
## --------------------------------------- ##

[main]
## Where to look on UGP or CHPC.
chpc_home:/uufs/chpc.utah.edu/common/home/u0413537/Heimdall

[log_file]
file: /home/srynearson/Heimdall/Heimdall.run.log

[rsync]
#lustre_rsync: /scratch/ucgd/lustre/Repository
#islion_rsync: /uufs/chpc.utah.edu/common/home/ucgdstor/Repository

[repository]
genomex_analysis: /scratch/ucgd/lustre/ugpuser/Repository/AnalysisData

[gnomex]
## path to required gnomex data on ugp
gnomex_jar:/home/srynearson/GNomEx_Tools/gnomex_client.jar
properties:/home/srynearson/GNomEx_Tools/properties
analysisPath:/scratch/ucgd/lustre/ugpuser/Repository/AnalysisData/2014
analysisPath:/scratch/ucgd/lustre/ugpuser/Repository/AnalysisData/2015
analysisPath:/scratch/ucgd/lustre/ugpuser/Repository/AnalysisData/2016

[config_files]
cfg:/uufs/chpc.utah.edu/common/home/u0413537/Heimdall/configs

[process_dir]
process:/uufs/chpc.utah.edu/common/home/u0413537/Heimdall/process

[backgrounds]
thousand:/scratch/ucgd/lustre/ugpuser/ucgd_data/1000G_Backgrounds
longevity:/scratch/ucgd/lustre/ugpuser/ucgd_data/Backgrounds

[region_files]
WES:/scratch/ucgd/lustre/ugpuser/ucgd_data/Regions/FQF.exon.Region.bed
WGS:/scratch/ucgd/lustre/ugpuser/ucgd_data/Regions/FQF.Region.bed

## --------------------------------------- ##
## Each sequence facility will have its own
## transfer collection
## --------------------------------------- ##

### Maintain order
[process_directories]
process:/scratch/ucgd/lustre/nantomics-transfer/Process_Data 
process:/scratch/ucgd/lustre/washu-transfer/Process_Data
process:/scratch/ucgd/lustre/other-transfer/Process_Data

[nantomics_transfer]    
process: /scratch/ucgd/lustre/nantomics-transfer/Process_Data 
xfer: /scratch/ucgd/lustre/nantomics-transfer/xfer

[washu_transfer]
process:/scratch/ucgd/lustre/washu-transfer/Process_Data
xfer:/scratch/ucgd/lustre/washu-transfer/xfer

[other_transfer]    
process: /scratch/ucgd/lustre/other-transfer/Process_Data
xfer: /scratch/ucgd/lustre/other-transfer/xfer


